.desktop---1, .desktop---1 * { box-sizing: border-box; }.desktop---1 {
      background: #fefefe;
      width: 1478px; height: 1959px;
      position: relative;
      overflow: hidden;
    }
 .image-2 {
      position: absolute; left: -72px;top: -75px;
      overflow: visible;
    }
 .rectangle-1 {
      position: absolute; left: -34px;top: -9px;
      overflow: visible;
    }
 .rectangle-7 {
      background: linear-gradient(90.07deg, rgba(36, 37, 45, 1.00) 0%,rgba(36, 37, 45, 0.00) 100%);
      width: 1478px; height: 113px;
      position: absolute; left: 0px;top: 0px;
    }
 .rectangle-10 {
      background: linear-gradient(90.07deg, rgba(36, 37, 45, 1.00) 0%,rgba(36, 37, 45, 0.00) 100%);
      width: 1480px; height: 113px;
      position: absolute; left: -2px;top: 1916px;
    }
 .ar---agency {
      color: #0df4d3;
      text-align: left;
      font: 700 24px 'Poppins', sans-serif;
      position: absolute; left: 108px;top: 35px;
      width: 392px; height: 54px;
    }
 .union {
      position: absolute; left: 55.89px;top: 33.36px;
      overflow: visible;
    }
 .rectangle-2 {
      background: linear-gradient(92.18deg, rgba(13, 244, 211, 1.00) 0%,rgba(12, 212, 184, 1.00) 100%);
      border-radius: 36px;
      width: 258px; height: 66px;
      position: absolute; left: 1206px;top: 23px;
    }
 .rectangle-3 {
      background: linear-gradient(92.18deg, rgba(13, 244, 211, 1.00) 0%,rgba(12, 212, 184, 1.00) 100%);
      border-radius: 36px;
      width: 258px; height: 66px;
      position: absolute; left: 54px;top: 735px;
    }
 .rectangle-4 {
      border-radius: 36px;
  border: solid #08e7c7; 
  border-width: 4px;
      width: 258px; height: 66px;
      position: absolute; left: 72px;top: 1661px;
    }
 .contact-us {
      color: #121213;
      text-align: left;
      font: 700 24px 'Poppins', sans-serif;
      position: absolute; left: 1256px;top: 36px;
      width: 392px; height: 54px;
    }
 .more {
      color: #121213;
      text-align: left;
      font: 700 24px 'Poppins', sans-serif;
      position: absolute; left: 146px;top: 748px;
      width: 134px; height: 54px;
    }
 .elevating-your-business-to-the-next-level {
      color: #ffffff;
      text-align: left;
      font: 900 64px 'Poppins', sans-serif;
      position: absolute; left: 54px;top: 243px;
      width: 680px; height: 352px;
    }
 .our-features {
      color: #1e2026;
      text-align: left;
      font: 900 64px 'Poppins', sans-serif;
      position: absolute; left: 72px;top: 1385px;
      width: 698px; height: 352px;
    }
 .a-full-service-agency-dedicated-to-helping-businesses-of-all-sizes-reach-their-full-potential--our-team-of-experts-in-branding--marketing--and-design-work-with-you-to-create-an-effective-and-cohesive-brand-that-sets-you-apart-from-the-competition- {
      color: #ffffff;
      text-align: left;
      font: 300 20px 'Poppins', sans-serif;
      position: absolute; left: 54px;top: 550px;
      width: 698px; height: 370px;
    }
 .from-logo-design-to-social-media-management--we-offer-a-wide-range-of-services-to-help-you-achieve-your-business-goals--browse-our-portfolio-of-work-and-see-the-results-we-ve-achieved-for-our-clients- {
      color: #1e2026;
      text-align: left;
      font: 300 20px 'Poppins', sans-serif;
      position: absolute; left: 72px;top: 1527px;
      width: 698px; height: 370px;
    }
 .vector3 {
      position: absolute; left: 1156px;top: 34px;
      overflow: visible;
    }
 .fast-work {
      color: #0de1c2;
      text-align: left;
      font: 700 24px 'Poppins', sans-serif;
      position: absolute; left: 1088px;top: 1429px;
      width: 268px; height: 64px;
    }
 .interesting {
      color: #0de1c2;
      text-align: left;
      font: 700 24px 'Poppins', sans-serif;
      position: absolute; left: 1088px;top: 1517px;
      width: 268px; height: 64px;
    }
 .unique {
      color: #0de1c2;
      text-align: left;
      font: 700 24px 'Poppins', sans-serif;
      position: absolute; left: 1088px;top: 1609px;
      width: 268px; height: 64px;
    }
 .details {
      color: #1e2026;
      text-align: left;
      font: 900 24px 'Poppins', sans-serif;
      position: absolute; left: 1106px;top: 1756px;
      width: 199px; height: 80px;
    }
 .more2 {
      color: #1e2026;
      text-align: left;
      font: 900 24px 'Poppins', sans-serif;
      position: absolute; left: 164px;top: 1673px;
      width: 199px; height: 80px;
    }
 .image-1 {
      width: 1081px; height: 1098px;
      position: absolute; left: -1146px;top: 0px;
    }
 .rectangle-8 {
      background: #24252d;
      border-radius: 58px;
      width: 360px; height: 470px;
      position: absolute; left: 970px;top: 1344px;
      box-shadow:  21px 0px 35px 0px rgba(13, 244, 211, 0.11);
    }
 .rectangle-9 {
      background: linear-gradient(92.18deg, rgba(13, 244, 211, 1.00) 0%,rgba(12, 212, 184, 1.00) 100%);
      border-radius: 58px;
      width: 360px; height: 76px;
      position: absolute; left: 970px;top: 1738px;
      box-shadow:  21px 0px 35px 0px rgba(13, 244, 211, 0.11);
    }
 .ellipse-5 {
      background: linear-gradient(100.92deg, rgba(13, 244, 211, 1.00) 0%,rgba(30, 205, 180, 1.00) 100%);
      border-radius: 50%;
      width: 56px; height: 58px;
      position: absolute; left: 1004px;top: 1413px;
      box-shadow:  21px 0px 35px 0px rgba(13, 244, 211, 0.11);
    }
 .ellipse-6 {
      background: linear-gradient(100.92deg, rgba(13, 244, 211, 1.00) 0%,rgba(30, 205, 180, 1.00) 100%);
      border-radius: 50%;
      width: 56px; height: 58px;
      position: absolute; left: 1004px;top: 1506px;
      box-shadow:  21px 0px 35px 0px rgba(13, 244, 211, 0.11);
    }
 .ellipse-7 {
      background: linear-gradient(100.92deg, rgba(13, 244, 211, 1.00) 0%,rgba(30, 205, 180, 1.00) 100%);
      border-radius: 50%;
      width: 56px; height: 58px;
      position: absolute; left: 1004px;top: 1599px;
      box-shadow:  21px 0px 35px 0px rgba(13, 244, 211, 0.11);
    }
 .---icon--check- {
      position: absolute; left: 1016px;top: 1426px;
      overflow: visible;
    }
 .---icon--check-2 {
      position: absolute; left: 1015px;top: 1519px;
      overflow: visible;
    }
 .---icon--check-3 {
      position: absolute; left: 1017px;top: 1614px;
      overflow: visible;
    }
 .image-3 {
      width: 1516px; height: 305px;
      position: absolute; left: -20px;top: 920px;
    }
